.left-tools{
  height:420px;
  width:16vw;
  margin: 0 auto;
  border-style:solid;
  margin-right:15px;
  background:#001e53;
  border-width: 2px;
border-radius: 4px;
border-color: #2a6de1;

}
.tool-button{
  width:13vw;
    margin: 6px auto;
    color: white;
border-color: #ade6b6;
background:#00783d;
height:30px;
border-radius:5px;
}
.tool-buttons{
  width:81%;
  margin: 15px auto;
}
